{% extends 'home/base.html' %}

{% block body %}
{% load staticfiles %}
<main id="main" class="site-main clr">



    <div id="content-wrap" class="container clr">


        <div id="primary" class="content-area clr">


            <div id="content" class="site-content clr">



                <article class="single-page-article clr">


                    <div class="entry clr" itemprop="text">
                        <div class="elementor elementor-396">
                            <div class="elementor-inner">
                                <div class="elementor-section-wrap">
                                    <section data-id="48ae047f" class="elementor-element elementor-element-48ae047f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}"
                                        data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div data-id="21730fe1" class="elementor-element elementor-element-21730fe1 elementor-column elementor-col-100 elementor-top-column"
                                                    data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div data-id="ca7cb52" class="elementor-element elementor-element-ca7cb52 elementor-widget elementor-widget-heading"
                                                                data-element_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-large">Buying
                                                                        pre-owed vehicles have never been
                                                                        safer</h2>
                                                                </div>
                                                            </div>
                                                            <div data-id="517f74d5" class="elementor-element elementor-element-517f74d5 elementor-widget elementor-widget-text-editor"
                                                                data-element_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix">
                                                                        <p>All the vehicles in this site have been
                                                                            personally verified and tested in order to
                                                                            ensure
                                                                            maximum quality. </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div data-id="4854ee9e" class="elementor-element elementor-element-4854ee9e elementor-align-left elementor-tablet-align-center elementor-mobile-align-center elementor-widget elementor-widget-button"
                                                                data-element_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href="#" class="elementor-button-link elementor-button elementor-size-sm"
                                                                            role="button">
                                                                            <span class="elementor-button-content-wrapper">
                                                                                <span class="elementor-button-icon elementor-align-icon-right">
                                                                                    <i class="fa fa-caret-right"
                                                                                        aria-hidden="true"></i>
                                                                                </span>
                                                                                <span class="elementor-button-text">Shop
                                                                                    now</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section data-id="6f14c6a8" class="elementor-element elementor-element-6f14c6a8 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}"
                                        data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div data-id="5338ee5b" class="elementor-element elementor-element-5338ee5b elementor-column elementor-col-33 elementor-top-column"
                                                    data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div data-id="5207a7f7" class="elementor-element elementor-element-5207a7f7 elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                                                data-element_type="image-box.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image-box-wrapper">
                                                                        <figure class="elementor-image-box-img"><img
                                                                                src="{% static 'home/marakka_files/002-buy.png' %}"
                                                                                class="attachment-full size-full" alt=""
                                                                                sizes="(max-width: 512px) 100vw, 512px"
                                                                                width="512" height="512"></figure>
                                                                        <div class="elementor-image-box-content">
                                                                            <h3 class="elementor-image-box-title">BUY</h3>
                                                                            <p class="elementor-image-box-description">Browse
                                                                                through the site to<br>find a vehicle
                                                                                of your
                                                                                preference<br>and go to the warehouse
                                                                                located to buy the vehicle</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-id="7972f383" class="elementor-element elementor-element-7972f383 elementor-column elementor-col-33 elementor-top-column"
                                                    data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div data-id="3ad1d53c" class="elementor-element elementor-element-3ad1d53c elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                                                data-element_type="image-box.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image-box-wrapper">
                                                                        <figure class="elementor-image-box-img"><img
                                                                                src="{% static 'home/marakka_files//001-sell.png' %}"
                                                                                class="attachment-full size-full" alt=""
                                                                                sizes="(max-width: 512px) 100vw, 512px"
                                                                                width="512" height="512"></figure>
                                                                        <div class="elementor-image-box-content">
                                                                            <h3 class="elementor-image-box-title">SELL</h3>
                                                                            <p class="elementor-image-box-description">Upload
                                                                                the required documents <br>on the
                                                                                website
                                                                                portal and attain approval for sale of
                                                                                the vehicle</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-id="c0c6729" class="elementor-element elementor-element-c0c6729 elementor-column elementor-col-33 elementor-top-column"
                                                    data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div data-id="18549476" class="elementor-element elementor-element-18549476 elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                                                data-element_type="image-box.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image-box-wrapper">
                                                                        <figure class="elementor-image-box-img"><img
                                                                                src="{% static 'home/marakka_files/003-repair.png' %}"
                                                                                class="attachment-full size-full" alt=""
                                                                                sizes="(max-width: 512px) 100vw, 512px"
                                                                                width="512" height="513"></figure>
                                                                        <div class="elementor-image-box-content">
                                                                            <h3 class="elementor-image-box-title">REPAIR</h3>
                                                                            <p class="elementor-image-box-description">Visit
                                                                                any one of our warehouses<br>to repair
                                                                                your
                                                                                vehicle with quality spare-parts at
                                                                                cheaper rates.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                        
                                    <section class="elementor-element elementor-element-bd7aef8 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                        data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">



                                                {% for bike in bike_all %}
                                                
                                                <div data-id="d968728" class="elementor-element elementor-element-d968728 elementor-column elementor-col-33 elementor-top-column"
                                                    data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div data-id="778203a" class="elementor-element elementor-element-778203a elementor-widget elementor-widget-image"
                                                                data-element_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image"><a href="{% url 'bike:details' bike.id %}">
                                                                        <img src="{{ bike.Model_img.url }}"
                                                                            class="attachment-large size-large" alt=""
                                                                            sizes="(max-width: 525px) 100vw, 525px"
                                                                            width="525" height="350"></a></div>
                                                                </div>
                                                            </div>
                                                            <div data-id="44797d9" class="elementor-element elementor-element-44797d9 elementor-widget elementor-widget-text-editor"
                                                                data-element_type="text-editor.default">
                                                                <div class="elementor-widget-container tcen">
                                                                    <div class="elementor-text-editor elementor-clearfix"
                                                                        style="text-align:center; font-size: 3rem;font-family: 'Bangers', cursive;">{{bike.Company_name }} {{ bike.Model_name }}</div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-88d023c elementor-widget elementor-widget-text-editor"
                                                                data-element_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix">
                                                                        <p>Lorem,
                                                                            ipsum dolor sit amet consectetur
                                                                            adipisicing elit. Distinctio facere dicta
                                                                            rerum exercitationem nulla a enim repellat,
                                                                            ratione doloribus at soluta. Inventore
                                                                            eligendi deserunt officia non ab doloremque
                                                                            obcaecati. Quibusdam praesentium inventore
                                                                            tempora eius, corporis, delectus magni
                                                                            pariatur exercitationem ad in aperiam
                                                                            similique eum! Quos magni illum perferendis
                                                                            corrupti nesciunt!</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div data-id="88d023c" class="elementor-element elementor-element-88d023c elementor-widget elementor-widget-text-editor"
                                                                data-element_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix">
                                                                        <p style="text-align: center;font-family: 'Flamenco', cursive;font-size: 3rem;color: #3a50b2"><i
                                                                                class="fas fa-rupee-sign" style="font-size: 2rem;margin-top:0rem;margin-bottom: 0rem;"></i><strike> {{bike.Price_before }}</strike></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div data-id="ef03ae0" class="elementor-element elementor-element-ef03ae0 elementor-widget elementor-widget-heading"
                                                                data-element_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default"
                                                                        style="font-family: 'Flamenco', cursive;font-size: 5rem;margin-top:0rem;margin-bottom: 0rem;"><i
                                                                            class="fas fa-rupee-sign" style="font-size: 3rem;margin-top:0rem;margin-bottom: 0rem;"></i>
                                                                        {{ bike.Price_after }}</h2>
                                                                </div>
                                                            </div>
                                                            <div data-id="6461ef6" class="elementor-element elementor-element-6461ef6 elementor-align-center elementor-widget elementor-widget-button"
                                                                data-element_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href="{% url 'bike:details' bike.id %}" class="elementor-button-link elementor-button elementor-size-sm"
                                                                            role="button">
                                                                            <span class="elementor-button-content-wrapper">
                                                                                <span class="elementor-button-text">Buy
                                                                                    Now</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                {% if forloop.last %}
                                            </div>
                                        </div>
                                    </section>
                                    {% else %}
                                    {% if forloop.counter|divisibleby:"3" %}
                                </div>
                            </div>
                            </section>
                            <section class="elementor-element elementor-element-bd7aef8 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">

                                        {% endif %}
                                        {% endif %}
                                        
                                        {% endfor %}

                                        <section data-id="a61dd4f" class="elementor-element elementor-element-a61dd4f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                            data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="85dfe6b" class="elementor-element elementor-element-85dfe6b elementor-column elementor-col-100 elementor-top-column"
                                                        data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="617e68e" class="elementor-element elementor-element-617e68e elementor-widget elementor-widget-text-editor"
                                                                    data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p><a href="http://more/"
                                                                                    data-wplink-url-error="true">More
                                                                                    <i class="fa fa-angle-right"></i><i
                                                                                        class="fa fa-angle-right"></i></a></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section data-id="3bd519ac" class="elementor-element elementor-element-3bd519ac elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}"
                                            data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="1f0fca9a" class="elementor-element elementor-element-1f0fca9a elementor-column elementor-col-100 elementor-top-column"
                                                        data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="3fbb7c06" class="elementor-element elementor-element-3fbb7c06 elementor-widget elementor-widget-heading"
                                                                    data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h3 class="elementor-heading-title elementor-size-large">What
                                                                            Our Customers say</h3>
                                                                    </div>
                                                                </div>
                                                                <section data-id="26e4773e" class="elementor-element elementor-element-26e4773e elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                                                                    data-element_type="section">
                                                                    <div class="elementor-container elementor-column-gap-default">
                                                                        <div class="elementor-row">
                                                                            <div data-id="1378f31b" class="elementor-element elementor-element-1378f31b elementor-sm-50 elementor-column elementor-col-25 elementor-inner-column"
                                                                                data-element_type="column">
                                                                                <div class="elementor-column-wrap elementor-element-populated">
                                                                                    <div class="elementor-widget-wrap">
                                                                                        <div data-id="8303d1" class="elementor-element elementor-element-8303d1 elementor-widget elementor-widget-image"
                                                                                            data-element_type="image.default">
                                                                                            <div class="elementor-widget-container">
                                                                                                <div class="elementor-image">
                                                                                                    <img src="{% static 'home/marakka_files/1.jpg' %}"
                                                                                                        class="attachment-large size-large"
                                                                                                        alt="" sizes="(max-width: 204px) 100vw, 204px"
                                                                                                        width="204"
                                                                                                        height="204">
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div data-id="1615b4dc" class="elementor-element elementor-element-1615b4dc elementor-sm-50 elementor-column elementor-col-25 elementor-inner-column"
                                                                                data-element_type="column">
                                                                                <div class="elementor-column-wrap elementor-element-populated">
                                                                                    <div class="elementor-widget-wrap">
                                                                                        <div data-id="3b2b4dab" class="elementor-element elementor-element-3b2b4dab elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                                                                            data-element_type="icon-box.default">
                                                                                            <div class="elementor-widget-container">
                                                                                                <div class="elementor-icon-box-wrapper">
                                                                                                    <div class="elementor-icon-box-icon">
                                                                                                        <span class="elementor-icon elementor-animation-">
                                                                                                            <i class="fa fa-quote-right"
                                                                                                                aria-hidden="true"></i>
                                                                                                        </span>
                                                                                                    </div>
                                                                                                    <div class="elementor-icon-box-content">
                                                                                                        <p class="elementor-icon-box-title">
                                                                                                            <span>It
                                                                                                                was my
                                                                                                                friend
                                                                                                                that
                                                                                                                suggested
                                                                                                                me this
                                                                                                                site
                                                                                                                and I
                                                                                                                couldn't
                                                                                                                be more
                                                                                                                grateful
                                                                                                                to
                                                                                                                her.
                                                                                                                The
                                                                                                                company
                                                                                                                ensures
                                                                                                                that
                                                                                                                the
                                                                                                                customers
                                                                                                                get
                                                                                                                what
                                                                                                                they
                                                                                                                see
                                                                                                                unlike
                                                                                                                other
                                                                                                                popular
                                                                                                                reselling
                                                                                                                sites.
                                                                                                            </span>
                                                                                                        </p>
                                                                                                        <p class="elementor-icon-box-description">Lizzie
                                                                                                            Thompson</p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div data-id="56e938c7" class="elementor-element elementor-element-56e938c7 elementor-sm-50 elementor-column elementor-col-25 elementor-inner-column"
                                                                                data-element_type="column">
                                                                                <div class="elementor-column-wrap elementor-element-populated">
                                                                                    <div class="elementor-widget-wrap">
                                                                                        <div data-id="61f67792" class="elementor-element elementor-element-61f67792 elementor-widget elementor-widget-image"
                                                                                            data-element_type="image.default">
                                                                                            <div class="elementor-widget-container">
                                                                                                <div class="elementor-image">
                                                                                                    <img src="{% static 'home/marakka_files/kuns.jpg' %}"
                                                                                                        class="attachment-large size-large"
                                                                                                        alt="" sizes="(max-width: 638px) 100vw, 638px"
                                                                                                        width="638"
                                                                                                        height="638">
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div data-id="33b4434e" class="elementor-element elementor-element-33b4434e elementor-sm-50 elementor-column elementor-col-25 elementor-inner-column"
                                                                                data-element_type="column">
                                                                                <div class="elementor-column-wrap elementor-element-populated">
                                                                                    <div class="elementor-widget-wrap">
                                                                                        <div data-id="69a5170e" class="elementor-element elementor-element-69a5170e elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                                                                            data-element_type="icon-box.default">
                                                                                            <div class="elementor-widget-container">
                                                                                                <div class="elementor-icon-box-wrapper">
                                                                                                    <div class="elementor-icon-box-icon">
                                                                                                        <span class="elementor-icon elementor-animation-">
                                                                                                            <i class="fa fa-quote-right"
                                                                                                                aria-hidden="true"></i>
                                                                                                        </span>
                                                                                                    </div>
                                                                                                    <div class="elementor-icon-box-content">
                                                                                                        <p class="elementor-icon-box-title">
                                                                                                            <span>More
                                                                                                                people
                                                                                                                need
                                                                                                                to use
                                                                                                                this
                                                                                                                site
                                                                                                                and
                                                                                                                acknowledge
                                                                                                                the
                                                                                                                creators
                                                                                                                for
                                                                                                                doing a
                                                                                                                wonderful
                                                                                                                job.</span>
                                                                                                        </p>
                                                                                                        <p class="elementor-icon-box-description">Gregario
                                                                                                            Koontz</p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                        </div>
                    </div>
                </article>

            </div><!-- #content -->


        </div><!-- #primary -->



    </div><!-- #content-wrap -->



</main><!-- #main -->
{% endblock %}